{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{% endcomment %}
<div class="route-div"></div>
<div style="font-size: 12px; margin-top: -10px; margin-bottom: 15px;">*By deselecting shipping protection, Merchant Name<br> is not liable for lost, damaged, or stolen items</div>    

{% section 'cart-template' %}


